* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0cm;
}


header {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0, 5);
}

.cover {
    height: 500px;
    color: black;
    background-image: url("../img/victor-freitas-WvDYdXDzkhs-unsplash.jpg") #111;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0, 5);
    background-blend-mode: darken ;
}

p {
    color: white;
    text-align: right;
}
